<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><g:layoutTitle default="Reporte"/></title>
  <g:render template="/reportes/style"></g:render>
</head>
<body>

</body>
</html>