@font-face {
    font-family: 'Allusedup';
    src: url('../fonts/all_used_up.ttf');

}

.captcha {
    font-family: 'Allusedup', sans-serif;

    padding-top: 20px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    font-size: 50px;
    font-family:serif;

}