<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="layout" content="bootstrap_fluid"/>
    <title><g:message code="mx.org.stirt.springSecurity.registro.header" default="REGISTRO DE USUARIO mx.org.stirt"/></title>
</head>

<body>
<h2>Registro de cuenta exitososo</h2>

<p id="page-intro">Se ha completado el registro</p>

<div class="content-box"><!-- Start Content Box -->

    <div class="content-box-header">

        <h3>Mensaje</h3>


        <div class="clear"></div>

    </div> <!-- End .content-box-header -->

    <div class="content-box-content">
    <p>
        Su registro ha sido exitoso, Se ha enviado un correo con la contrase&ntilde;a al usuario.
    </p>
     <br/>
        <g:link controller="solicitudCuenta" class="button" action="list">Regresar</g:link>
    </div>
</div>
</body>
</html>
