<head>
<meta name='layout' content='bootstrap_fluid' />
<title><g:message code="springSecurity.denied.title" default="ACCESO RESTRINGIDO"/></title>
</head>

<body>
<h2>Acceso denegado</h2>

<p id="page-intro"><g:message code="springSecurity.denied.messages" default="Lo sentimos, pero no tienes los suficientes privilegios para accesar a esta pagina." /></p>

<a class="button" href="${createLink(uri: '/')}">Regresar</a>

</body>
