<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="bootstrap_fluid" />
        <title><g:message code="springSecurity.registro.header" default="REGISTRO DE USUARIO OPES" /></title>
    </head>
    <body>
		<h2>Registro exitoso</h2>

<p id="page-intro">Se ha registrado exitosamente su cuenta</p>
        <div class="content-box"><!-- Start Content Box -->

    <div class="content-box-header">

        <h3>Registro de nuevo usuario</h3>

    </div> <!-- End .content-box-header -->
	<div class="content-box-content">
            <p>
            Su registro ha sido exitoso, el administrador del sistema se pondr&aacute; en contacto con usted para validar su identidad y habilitar su cuenta de acceso, en estos momentos usted ya puede cerrar la ventana.
            </p>
            <br/>
			<a href="${createLink(uri: '/')}" class="button">Regresar</a>


		</div>
</div>
    </body>
</html>
